@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .swiper-pagination-bullet-active{
        @apply bg-laranja;
    }
}

.força{
    animation: animation .3s ease-in-out;
}
.flwo{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    
}

@keyframes animation{
    0%{
        height: 0%;
    }
    100%{
        opacity: 100%;
    }
    
}