@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .swiper-pagination-bullet-active{
        @apply bg-laranja;
    }
}

.força{
    animation: animation .3s ease-in-out;
}

@keyframes animation{
    0%{
        height: 0%;
    }
    100%{
        opacity: 100%;
    }
    
}